.content {
  display: flex;
  flex-flow: column;
}

.media {
  height: 0;
  padding-top: 55%;
}

.action {
    display: flex;
  justify-content: space-between;
}

.actionButton {
  display: flex;
  align-items: center;
}
.actionButton button{
    padding: 0;
}


