.NavigationItems{
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: flex;
 flex-flow: column;
    align-items: center;
    height: 100%;
    
}

.NavigationItems li{
    margin: 10px 0;
    
}

.NavigationItems li a{
    color: black;
    box-sizing: border-box;
}
.NavigationItems li a:hover,
.NavigationItems li a:active{
    color: brown;
   
}

@media (min-width:700px){
    .NavigationItems{
        flex-flow: row;
    }
    .hideHome{
        display: none;
    }
}